@charset "utf-8";
/* CSS Document */

/* reset.css */
html {margin: 0; padding: 0; border: 0;}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	font-weight:bold;
	vertical-align:baseline;
	margin-bottom:0em;
	text-decoration:none;
}
	
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5; background:#BBB;}
table {border-collapse:separate; border-spacing:0;}
caption, th, td {text-align:left; font-weight:normal; float:none !important;}
table, th, td {vertical-align:top;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}


/* Global */

html {font-size:100%;}
body {
	font-size:100%;
}

/* Heading Elements */

h1, h2, h3, h4, h5, h6 {font-weight:bold; color:#171717; font-family:Arial, Helvetica, sans-serif;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

h1 {font-size:2.5em;	line-height:1; 		margin-bottom:0em;}
h2 {font-size:2em;		line-height:1;		margin-bottom:0em;}
h3 {font-size:1.5em;	line-height:1;		margin-bottom:0em;}

h4 {font-size:2.5em;	line-height:1;		margin-bottom:0;}
h5 {font-size:2em;		line-height:1;		margin-bottom:0;}
h6 {font-size:1.5em;	line-height:1;		margin-bottom:0;}

h10 {font-weight:bold; color:#F00; font-family:Arial, Helvetica, sans-serif; text-shadow:1px 1px 1px #333;}

/* Paragraph Elements */

p, li		{color:#171717; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
p			{margin:0;}
.left		{float:left !important;}
p .left 	{margin:1.5em 1.5em 1.5em 0; padding:0;}
.right		{float:right !important;}
p .right	{margin:1.5em 0 1.5em 1.5em; padding:0;}
a:hover 	{color: #31beff;}

blockquote	{margin:1.5em; color:#666; font-style:italic;}

strong, dfn {font-weight:bold;}
em, dfn 	{font-style:italic;}

caption {font-size:36px;}

hr {height:0; border:none; border-bottom:1px solid #CCC; border-top:1px solid rgba(0,0,0,1); margin:9px 20px 20px 20px; clear:both;}

